/database.db
/database.db-shm
/database.db-wal
/db/Index_llibres_Digitals.xlsx
/db/Index_llibres_Digitals_arbeca.csv
*.xlsx
.codex/
.vscode/
/tests/README.md
.gocache/
coverage.out
.gitignore
.cache/
.continue/
plantilla-temporal/