<!-- templates/layouts/base.html -->
<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Genealogia.cat</title>
    <link rel="stylesheet" href="/static/css/estils.css">
    <link rel="stylesheet" href="/static/css/login-modal.css">
    <link rel="stylesheet" href="/static/css/perfil-dropdown.css">
    <script src="/static/js/login-modal.js"></script>
    <script src="/static/js/perfil-dropdown.js"></script>
</head>
<body>
    {{ if .UserLoggedIn }}
        {{ template "header-private" . }}
        {{ template "menu" . }}
    {{ else }}
        {{ template "header-public" . }}
    {{ end }}

    <main class="contingut-principal">
        {{ template "content" . }}
    </main>

    {{ template "footer" . }}
</body>
</html>