<!-- templates/layouts/base.html -->
<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Genealogia.cat</title>
    {{ template "styles" . }}
</head>
<body>
    {{ if eq .UserLoggedIn true }}
        {{ template "header-private" . }}
        {{ template "menu" . }}
    {{ else }}
        {{ template "header-public" . }}
    {{ end }}

    <main class="contingut-principal">
        {{ template "content" . }}
    </main>

    {{ template "footer" . }}

    <!-- <div id="modals"> -->
        {{ if not .UserLoggedIn }}
            {{ template "modal-index-inici" . }}
            {{ template "modal-index-registre" . }}
            {{ template "modal-index-recuperar-pass" . }}
        {{ end }}
    <!-- </div> -->

    {{ template "scripts" . }}
</body>
</html>