<!-- templates/layouts/menu-private.html -->
{{ define "menu" }}
<aside class="menu-lateral" id="menuLateral">
    <div class="menu-capçalera">
        <div class="cerca-menu">
            <input type="text" id="cercaMenuInput" placeholder="{{ t .Lang "menu.search.placeholder" }}">
            <button id="cercaMenuBoto"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <div class="menu-contingut">
        <div class="menu-seccio">
            <div class="menu-titol">
                <i class="fas fa-home"></i>
                <h3>{{ t .Lang "menu.section.home" }}</h3>
            </div>
            <ul>
                <li class="menu-opcio"><a href="/inici">{{ t .Lang "menu.item.home" }}</a></li>
            </ul>
        </div>
        {{ if and .Data (index .Data "IsAdmin") }}
        <div class="menu-seccio">
            <div class="menu-titol">
                <i class="fas fa-tools"></i>
                <h3>{{ t .Lang "menu.section.admin" }}</h3>
            </div>
            <ul>
                <li class="menu-opcio"><a href="/admin/paisos"><i class="fas fa-globe"></i> {{ t .Lang "admin.menu.countries" }}</a></li>
                <li class="menu-opcio"><a href="/admin/usuaris"><i class="fas fa-user-cog"></i> {{ t .Lang "admin.menu.users" }}</a></li>
                <li class="menu-opcio"><a href="/admin/politiques"><i class="fas fa-shield-alt"></i> {{ t .Lang "admin.menu.policies" }}</a></li>
                <li class="menu-opcio"><a href="/admin/politiques/assignacions"><i class="fas fa-user-check"></i> {{ t .Lang "admin.menu.policies_assign" }}</a></li>
                <li class="menu-opcio"><a href="/admin/territori/import"><i class="fas fa-file-export"></i> {{ t .Lang "admin.menu.territory_io" }}</a></li>
                <li class="menu-opcio"><a href="/admin/eclesiastic/import"><i class="fas fa-church"></i> {{ t .Lang "admin.menu.ecles_io" }}</a></li>
                <li class="menu-opcio"><a href="/admin/arxius/import"><i class="fas fa-archive"></i> {{ t .Lang "admin.menu.archives_io" }}</a></li>
                <li class="menu-opcio"><a href="/admin/cognoms/import"><i class="fas fa-signature"></i> {{ t .Lang "admin.menu.surnames_import" }}</a></li>
            </ul>
        </div>
        {{ end }}
        {{ if and .Data (or (index .Data "CanManageTerritory") (index .Data "CanManageEclesia") (index .Data "IsAdmin")) }}
        <div class="menu-seccio">
            <div class="menu-titol">
                <i class="fas fa-map"></i>
                <h3>{{ t .Lang "menu.section.territory" }}</h3>
            </div>
            <ul>
                <li class="menu-opcio"><a href="/territori/nivells"><i class="fas fa-sitemap"></i> {{ t .Lang "admin.menu.levels" }}</a></li>
                <li class="menu-opcio"><a href="/territori/municipis"><i class="fas fa-map-marker-alt"></i> {{ t .Lang "municipis.title" }}</a></li>
                <li class="menu-opcio"><a href="/territori/eclesiastic"><i class="fas fa-church"></i> {{ t .Lang "admin.menu.ecles" }}</a></li>
            </ul>
        </div>
        {{ end }}
        {{ if and .Data (or (index .Data "CanManageArxius") (index .Data "IsAdmin")) }}
        <div class="menu-seccio">
            <div class="menu-titol">
                <i class="fas fa-archive"></i>
                <h3>{{ t .Lang "menu.section.funds" }}</h3>
            </div>
            <ul>
                <li class="menu-opcio"><a href="/documentals/arxius"><i class="fas fa-archive"></i> {{ t .Lang "admin.menu.archives" }}</a></li>
                <li class="menu-opcio"><a href="/documentals/llibres"><i class="fas fa-book"></i> {{ t .Lang "admin.menu.books" }}</a></li>
            </ul>
        </div>
        {{ end }}
        <div class="menu-seccio">
            <div class="menu-titol">
                <i class="fas fa-photo-video"></i>
                <h3>{{ t .Lang "menu.section.media" }}</h3>
            </div>
            <ul>
                <li class="menu-opcio"><a href="/media/albums"><i class="fas fa-images"></i> {{ t .Lang "menu.media.albums" }}</a></li>
            </ul>
        </div>
        {{ if and .Data (or (index .Data "CanModerate") (index .Data "IsAdmin")) }}
        <div class="menu-seccio">
            <div class="menu-titol">
                <i class="fas fa-clipboard-check"></i>
                <h3>{{ t .Lang "menu.section.moderation" }}</h3>
            </div>
            <ul>
                <li class="menu-opcio"><a href="/moderacio"><i class="fas fa-clipboard-check"></i> {{ t .Lang "admin.menu.moderation" }}</a></li>
                <li class="menu-opcio"><a href="/admin/moderacio/media"><i class="fas fa-photo-video"></i> {{ t .Lang "admin.menu.moderation_media" }}</a></li>
            </ul>
        </div>
        {{ end }}
        <div class="menu-seccio">
            <div class="menu-titol">
                <i class="fas fa-star"></i>
                <h3>{{ t .Lang "menu.section.ranking" }}</h3>
            </div>
            <ul>
                <li class="menu-opcio"><a href="/ranking"><i class="fas fa-trophy"></i> {{ t .Lang "points.ranking.title" }}</a></li>
                {{ if and .Data (index .Data "IsAdmin") }}
                <li class="menu-opcio"><a href="/admin/punts/regles"><i class="fas fa-star"></i> {{ t .Lang "points.rules.title" }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div class="menu-seccio">
            <div class="menu-titol">
                <i class="fas fa-users"></i>
                <h3>{{ t .Lang "menu.section.persons" }}</h3>
            </div>
            <ul>
                <li class="menu-opcio"><a href="/persones"><i class="fas fa-users"></i> {{ t .Lang "persons.title" }}</a></li>
                <li class="menu-opcio"><a href="/persones/new"><i class="fas fa-user-plus"></i> {{ t .Lang "persons.new" }}</a></li>
                <li class="menu-opcio"><a href="/cognoms"><i class="fas fa-signature"></i> {{ t .Lang "menu.surnames" }}</a></li>
            </ul>
        </div>
    </div>
</aside>
<div class="overlay-menu" id="overlayMenu"></div>
{{ end }}
