{{ define "modal-index-recuperar-pass" }}
<div class="modal-login" id="modalRecuperar">
    <div class="modal-contingut">
        <span class="modal-tanca" id="tancaModalRecuperar">&times;</span>
        <h2>{{ t .Lang "recover.title" }}</h2>
        <form id="formRecuperar">
            <div class="form-grup">
                <label for="email">{{ t .Lang "recover.label.email" }}</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-grup">
                <label for="captcha">{{ t .Lang "recover.label.captcha" }}</label>
                <input type="text" id="captcha" name="captcha" placeholder="{{ t .Lang "recover.captcha.placeholder" }}" required>
            </div>
            <button type="submit" class="boto-registre boto-login-modal">
                <i class="fas fa-paper-plane"></i> {{ t .Lang "recover.submit" }}
            </button>
        </form>
        <p class="opcions-addicionals">
            <a href="#" id="tornaLoginRecuperar">{{ t .Lang "recover.link.login" }}</a>
        </p>
    </div>
</div>
{{ end }}
