{{ define "modal-index-inici" }}
<div class="modal-login" id="modalLogin">
    <div class="modal-contingut">
        <span class="modal-tanca" id="tancaModal">&times;</span>
        <h2>{{ t .Lang "login.title" }}</h2>
        <form id="formLogin" method="POST" action="/login" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="csrf_token" value="{{ .Data.CSRFToken }}">
            <div class="form-grup">
                <label for="login_usuari">{{ t .Lang "login.label.user" }}</label>
                <input type="text" id="login_usuari" name="usuari" required>
            </div>
            <div class="form-grup">
                <label for="login_contrassenya">{{ t .Lang "login.label.password" }}</label>
                <input type="password" id="login_contrassenya" name="contrassenya" required>
            </div>
            <div class="form-grup">
                <label for="login_captcha">{{ t .Lang "login.label.captcha" }}</label>
                <input type="text" id="login_captcha" name="captcha" placeholder="{{ t .Lang "login.captcha.placeholder" }}" required>
            </div>
            <div class="form-grup checkbox-grup">
                <label class="checkbox-label">
                    <input type="checkbox" id="login_mantenir_sessio" name="mantenir_sessio">
                    <span class="checkmark"></span>
                    {{ t .Lang "login.label.remember" }}
                </label>
            </div>
            <button type="submit" class="boto boto-login-modal">{{ t .Lang "login.submit" }}</button>
        </form>
        <p class="opcions-addicionals">
            <a href="#" id="mostrarRecuperar">{{ t .Lang "login.link.recover" }}</a> · 
            <a href="#" id="mostrarRegistre">{{ t .Lang "login.link.register" }}</a>
        </p>
    </div>
</div>
{{ end }}
