{{ define "index-logedin.html" }}
<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ t .Lang "app.title" }}</title>
    {{ template "styles-private" . }}
</head>
<body>
    {{ template "header-private" . }}
    {{ template "menu" . }}

    <main class="contingut-principal">
        <h1>{{ t .Lang "private.welcome" }}</h1>
        <p>{{ t .Lang "private.loggedIn" }}</p>
    </main>

    {{ template "footer" . }}

    {{ template "scripts-private" . }}
</body>
</html>
{{ end }}
