{{ define "index.html" }}
<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ t .Lang "app.title" }}</title>
    {{ template "styles-public" . }}
</head>
<body>
    {{ template "header-public" . }}

    <main class="contingut-principal">
        <h1>{{ t .Lang "index.title" }}</h1>
        <p>{{ t .Lang "index.subtitle" }}</p>
        <a href="/login">{{ t .Lang "index.loginCta" }}</a>
    </main>

    {{ template "footer" . }}

    {{ template "modal-index-inici" . }}
    {{ template "modal-index-registre" . }}
    {{ template "modal-index-recuperar-pass" . }}

    {{ template "scripts-public" . }}
</body>
</html>
{{ end }}
